main {
  background-color: rgb(209,231,204);
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.homepage-container {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-areas:
  "leafy"
  "image"
  "button1"
  "button2";
  grid-template-rows: 5em 6em 20%;
}

#heading {
  color: rgb(17,136,60);
  font-size: 30px;
  grid-area: leafy;
}

#logo-div {
  display: flex;
  justify-content: center;
}

#logo-image {
  grid-area: image;
  transform: translate(132%, 0%);
  animation: sway 1s infinite;
  transform-origin: 50% 100% 0;
}

@keyframes sway {
  0%, 100%{ transform: rotate(-15deg);}
  50%{ transform: rotate(12deg); }
}

#enter-button {
  grid-area: button1;
}

#register-button {
  grid-area: button2;
}