#plant-directory #navbar {
  transform: translate(-5%, 0%);
}

#plant-directory .all-plants {
  transform: translate(32%, 0%);
}

#plant-directory li {
  color: white;
}

/* CSS for browser view */
@media (min-width: 500px) {
  #plant-directory #navbar {
      transform: translate(-14%);
  }
}