.plant-container {
  width: 65%;
  display: flex;
  justify-content: center;
  transform: translate(30%, 10%);
}

.name-container {
  transform: translate(3%, 60%);
}

.plant-name {
  color: rgb(17,136,60);
  font-size: 12px;
  text-align: center;
}

.plant-title {
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
}

.plant-info {
  transform: translate(3%, 20%);
}


.subheading {
  color: rgb(17,136,60);
  text-align: center;
  margin: 10px;
}

.description {
  text-align: center;
  font-size: 12px;
  width: 60%;
  transform: translate(35%, -10%);
}